<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                   <h2 class="logo"><a href="/">MoinczBook</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="">Hola <%= usuarioLogueado.nombre %> </a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/post/agregar">Postear</a></li>
                        <li><a href="/user/Perfil/<%= usuarioLogueado.id %>">Perfil</a></li>
                        <li><a href="/user/Perfil/mifeed">miFeed</a></li>
                        <li><a href="/user/cerrarSes">Cerrar Sesion</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form class="uk-search uk-search-default" action="/user/search" method="GET">
                                <span uk-search-icon></span>
                                <input type="text" class="uk-search-input" name="buscador" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>