<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <% include partials/header %>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Enrico Martella</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://www.altagracianoticias.com/wp-content/uploads/2019/02/bjj-website.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Enrico Martella</h5>
                                <p class="uk-width-5-6">Anda a la cancha</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Luisma</a>
                                    <p>Jeje</p>
                                </li>
                                <li>
                                    <a href="">Valentino</a>
                                    <p>Facha</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Luisma Palacios</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://as01.epimg.net/argentina/imagenes/2020/09/27/futbol/1601214040_048435_1601214119_noticia_normal_recorte1.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Luisma Palacios</h5>
                                <p class="uk-width-5-6">Fulbo</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Cappe</a>
                                    <p>DAle bo</p>
                                </li>
                                <li>
                                    <a href="">Lio Messi</a>
                                    <p>Venite al barca</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Marcelo Bielsa</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.lacapital.com.ar/adjuntos/203/imagenes/028/839/0028839928.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Marcelo Bielsa</h5>
                                <p class="uk-width-5-6">3 para casa</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Rodrigo</a>
                                    <p>Grande coach</p>
                                </li>
                                <li>
                                    <a href="">user293485</a>
                                    <p>Come to besiktas</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Usuario</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://via.placeholder.com/500x600" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Usuario</h5>
                                <p class="uk-width-5-6">Pie de post</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Usuario</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://via.placeholder.com/500x600" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Usuario</h5>
                                <p class="uk-width-5-6">Pie de post</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Usuario</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://via.placeholder.com/500x600" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Usuario</h5>
                                <p class="uk-width-5-6">Pie de post</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>Usuario</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://via.placeholder.com/500x600" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Usuario</h5>
                                <p class="uk-width-5-6">Pie de post</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>

    <% include partials/footer %>


</body>

</html>