<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moinczbook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">


    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%if (usuarioLogueado == undefined){%>
        <% include partials/header %>
        <%}else{%>
         <% include partials/headerLog %>
        <%}%>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                
                <form action="/user/login" method="POST">
                    <fieldset class="uk-fieldset"> 
                        <% if(typeof errors !== 'undefined') { %>
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p> El usuario esta mal</p>
                            </div>
                        <% } %>
                        <% if(typeof errors2 !== 'undefined') { %>
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p> La contrase침a esta mal</p>
                            </div>
                        <% } %>
                        <legend class="uk-legend"> Login </legend>
                        <div class="uk-margin">
                            <input name="username" class="uk-input" type="text" placeholder="username">
                        </div>
                        
                        <div class="uk-margin">
                            <input name="password" class="uk-input" type="password" placeholder="contrase침a">
                        </div>
                        <div class="uk-margin">
                            <input name="recordame" class="uk-checkbox" type="checkbox" > Recordame </input>
                        </div>
                        <div class="uk-margin">
                            <input type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" value="Inicia sesi칩n"></input>
                        </div>
                        <div id="Error" class="uk-alert-danger" uk-alert>
                            <ul><a href="olvideContra">Olvide mi contrase침a</a></ul>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

    <% include partials/footer %>


</body>

</html>