<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moinczbook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/registracion.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%if (usuarioLogueado == undefined){%>
        <% include partials/header %>
        <%}else{%>
         <% include partials/headerLog %>
        <%}%>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container">
                <form action="/user/register" method="POST">
                    <fieldset class="uk-fieldset">
                
                        <legend class="uk-legend">Registracion </legend>
                        <div class="uk-margin">
                            <input name="nombre" class="uk-input" type="text" placeholder="Nombre" required>
                        </div>
                        <div class="uk-margin">
                            <input name="apellido" class="uk-input" type="text" placeholder="Apellido" required>
                        </div>
                        <div class="uk-margin">
                            <input name="username" class="uk-input" type="text" placeholder="Username" required>
                        </div>
                        <div class="uk-margin">
                            <h5 class="uk-form-label">Fecha de nacimiento</h5>
                            <input name="fecha" class="uk-input" type="date" required>
                        </div>
                        <div class="uk-margin">
                            <input name="email" class="uk-input" type="email" placeholder="ejemplo@mail.com" required>
                        </div>
                        <div class="uk-margin">
                            <input name="password" class="uk-input" type="password" placeholder="Contrase単a" required>
                        </div>
                        <div class="uk-margin">
                            <input name="telefono" class="uk-input" type="number" placeholder="1133484733" required>
                        </div>
                        <div class="uk-margin">
                            <input name="fotoPerfil" class="uk-input" type="text" placeholder="Ingrese url de su foto de perfil" required>
                        </div>
                        <div class="uk-margin">
                            <select name="pregunta" class="uk-input" required>
                                <option value="mascota" class="uk-input">多Como es el nombre de tu mascota?</option>
                                <option value="vacaciones" class="uk-input">多Cual es tu lugar preferido para vacacionar?</option>
                                <option value="nacimiento" class="uk-input">多Cual es el nombre de tu mejor amigo de la infancia?</option>
                            </select>
                        </div>
                        <div class="uk-margin">
                            <input name="respuesta" class="uk-input" type="text" placeholder="Respuesta a la pregunta" required>
                        </div>
                        <div class="uk-margin">
                            <input type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" value="Quiero ser parte de MoINCZ!"></input>
                        </div>

                
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

    <% include partials/footer %>

</body>

</html>