/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
/* FONTS */

footer{
    height: 40px;
    color: whitesmoke;
    padding: 0 10px;
    background-color: #f89a9a !important;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;    
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}